

  <button type="button" [attr.class]="classBtn" [disabled]="disabledBtn ? 'disabled' : ''" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <ng-content></ng-content>
  </button>

<!-- Modal -->
<div class="modal fade" id='staticBackdrop' data-bs-backdrop="static" ata-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        {{message}}
      </div>
      <ng-container *ngIf="optionalAlert !== undefined">
        <div [class]= "'alert alert-' + typeAlert" role="alert">
          {{optionalAlert}}
        </div>
      </ng-container>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="emitFunctionOutput.emit()">Continuar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


