<div class="container">
  <h2>O que é um controle de frota?</h2>
  <p>
    Um sistema de gerenciamento de frota (FMS, fleet management system) é um conjunto de ferramentas
    e tecnologias que ajudam as empresas a gerenciar seus veículos de forma eficiente.
  </p>

  <h2>Como posso usar essa aplicação?</h2>

  <div class="alert alert-warning" role="alert">
    Este Sistema é um MVP com fins de prática com API e serviços em desenvolvimento web.
    <strong>Dados inseridos não são de minha responsabilidade</strong>. Projeto em andamento...!
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Criar um novo veículo: No menu, acesse a opção <strong>Veículo</strong>, procurar por uma opção para criar um novo veículo,
      chamada "+Novo".</li>
    <li class="list-group-item">
      Preencher as informações do veículo: Será necessário preencher informações básicas sobre o veículo, como a <strong>Placa</strong>, <strong>Tipo de Combustível</strong>, o ano, <strong>Renavam</strong>,
     <strong> o tipo de combustível</strong>, etc. Alguns sistemas podem pedir informações adicionais, como o número do registro do veículo, a capacidade do tanque de combustível, etc.
    </li>
    <li class="list-group-item">
      Salvar as informações: Depois de preencher todas as informações, é necessário salvar
      as informações do veículo para que ele possa ser monitorado pelo sistema de gerenciamento de frota.
    </li>
    <li class="list-group-item">
      Verificar as informações: Verificar se as informações estão corretas e completas, e corrigir qualquer erro encontrado.
    </li>
    <li class="list-group-item">And a fifth one</li>
  </ul>
</div>
