<nav class="navbar bg-body-tertiary" role="navegação">
  <div class="container">
    <a
    class="navbar-brand"
    href="#"
    [attr.aria-current]="currentClickNavbar === 'navbar-brand' ? 'page' : false "
    (click)="getClickNavbarForAriaCurrent('navbar-brand')">
      <img src="../../assets/CONTROLE-DE-FROTA.webp" alt="Bootstrap" width="100" height="100">
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link"
        [attr.aria-current]="currentClickNavbar === 'navbar-item-1' ? true : false "
        (click)="getClickNavbarForAriaCurrent('navbar-item-1')"
         routerLink="cadastrar">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [attr.aria-current]="currentClickNavbar === 'navbar-item-2' ? true : false "
        (click)="getClickNavbarForAriaCurrent('navbar-item-2')"
        routerLink="consultar"
        >Consulta</a>
      </li>
    </ul>
  </div>
</nav>
