.container {
  height: 100vh;
    
    &_table {
      overflow-x: scroll;
    }
    &_btns {
      display: flex;
      align-items: center;
    }
}

button {
  margin-right: 5px;
  margin-left: 5px;
}
