.container {
  height: 100vh;
  &_table {
    margin-top: 10px;
    margin-bottom: 10px;
  }
    & table {
      overflow-x: scroll;
    }
    &_btns {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
}

button {
  margin-right: 5px;
  margin-left: 5px;
}
